.subjects {
  .subject-item {
    .title {
      padding: 15px 0;
    }

    .full-name {
      width: 40%;
    }

    .avg-notes {
      width: 40%;
    }

    .avg-notes {
      width: 20%;
    }
  }
}